@keyframes imageHover {
    from {
        opacity: 100%;
        transform: scale(1);
    }

    to {
        opacity: 60%;
        transform: scale(1.25);
    }
}

.product-card {
    border: 1px solid black;
    border-radius: 4px;
    padding: 1rem;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.product-image-container img {
    object-fit: contain;
    object-position: center;
    height: auto;
    width: 100%;
}

.product-image:hover {
    cursor: pointer;
    animation-name: imageHover;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.product-title {
    font-size: large;
    color: black;
}

.product-link {
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
}

.product-price {
    font-weight: bolder;
}