.product-container {
    display: flex;
    flex-flow: row nowrap;
}

.image-section {
    width: auto;
    flex: 1;
}

.product-details {
    flex: 0 0 400px;
}

.product-image {
    max-width: 100%;
}

.ratings-row {
    display: flex;
    align-items: center;
}

.rating-count {
    color: rgb(42, 114, 221)
}